@import '../../../stylesheets/module-basics.scss'; 

.productSliderContainer {
  max-width: 1400px;
  margin: 20px auto;
}

.slider{
  display: flex;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  flex-wrap: nowrap;
  transition: 500ms;
  scroll-behavior: smooth;

  > * {
    flex: 1 0 350px;
  }
}

.sliderBtn {
  border-radius: 50%;
  width: 50px; 
  height: 50px; 
  background: lightgray;
  cursor: pointer;

  &:not(:last-of-type) {
    margin-right: 10px;
  }
}