@import '../../../stylesheets/module-basics.scss';

.categoryContainer {
  max-width: 1400px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  gap: 10px;
 
  @include breakpoint-min(md) {  
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
}

.categoryLink {
  position: relative;
  overflow: hidden;

  img {
    transition: 500ms;
  }

  &:hover {
    img {
      transform: scale(1.05);
    }
  }

  &:before {
    position: absolute;
    bottom: 0; 
    content: '';
    z-index: 2; 
    height: 100%;
    left: 0;
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.47522759103641454) 0%, rgba(0,212,255,0) 66%);
  }
}

.content {
  color: $white;
  position: absolute;
  bottom: 0; 
  z-index: 3;
  text-align: center;
  width: 100%;
  padding: 5%;
}

.button {
  background: $white;
  color: $black;
  padding: 15px 21px;
  width:100%;
  border-radius: 50px;
  max-width: 300px;
  flex: 1 1 0px; 
  cursor: pointer;
}