@import '../../module-basics.scss';

.productNav {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 8px 20px; 
  position: sticky; 
  top: 0px;
  background: $white;
  z-index: 2;
  border-bottom: 1px solid rgba(0,0,0,.1);
  justify-content: center;

  @include breakpoint-min(md) { 
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.productNav__btn {
  width: 200px; 
  background: #1896D9;
  text-align: center;
  color: #fff;
  display: block;
  padding: 10px;
  transition: 500ms;
  margin: 0 10px;
}

.productNav__tabs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  gap: 15px;

  @include breakpoint-max(md) { 
    display: none;
  }
}

.tab {
  border-bottom: 2px solid #eee;
  transition: 500ms;
  text-align: center;
  padding: 10px;
  cursor: pointer;

  &:hover {
    border-bottom: 2px solid #333;
  }
}