@import '../../module-basics.scss';

.productNav {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 20px; 
  position: sticky; 
  top: 0px;
  background: $white;
  z-index: 2;
}

.productNav__btn {
  width: 200px; 
  background: #1896D9;
  text-align: center;
  color: #fff;
  display: block;
  padding: 10px;
  transition: 500ms;
  margin: 0 10px;
}