@import '../../module-basics.scss';

.container {
  margin: 0px auto;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  @include breakpoint-min(md) { 
    flex-direction: row;
    padding: 0  60px;
  }
}

.image{
  width: 100%; 
  order: 1;
  margin: 10px;
  
  @include breakpoint-min(md) { 
    order: 2;
    width: 55%;
    margin: 0px 10px;
  }
}

.blockContent {
  width: 40%;
  margin: 10px;
  order: 2;
  @include breakpoint-min(md) { 
    width: 100%;
    margin: 0px 0px;
  }
}