@import '../../../stylesheets/module-basics.scss';

.promoHeader {
  background: #14213D;
  width: 100vw;
  min-height: 10px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.3rem 30px;
}