@import '../../module-basics.scss';

.variantContainer {
  display: flex;
}

.variant {
  border: 1px solid $primary-color;
  padding: 5px;
  text-align: center;
  margin: 10px 0;
  width: auto;
  margin-right: 5px;
  padding: 2%;
  text-transform: uppercase;
  cursor: pointer;
}

.checked {
  background: $primary-color;
  color: $white;
}

.addToBagButton {
  background: $primary-color;
  color: $white;
  text-transform: uppercase;
  padding: 15px;
  cursor: pointer;
  transition: 500ms;

  &:hover {
    background: transparentize($primary-color, 0.2);
  }
}