@import '../../module-basics.scss';

.productLink {
  border: 1px solid transparent;
  padding: 5px;
  &:hover {
    border: 1px solid $primary-color;
  }
}

.productTag {
  border: 1px solid $primary-color;
  padding: 2px;
  text-align: center;
  font-size: 0.8rem;
}

.productTagContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-template-rows: auto;
 
}