section {
  content-visibility: auto;
}

.container {
  margin: 0 auto;
  max-width: $grid-length * 1px;
  padding: 0 10px;

  &--fluid {
    margin: 0;
    max-width: 100%;
    display: flex; 
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &--v-center {
      align-items: center;
    }
  }
  
  &__column {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &--center{
    justify-content: center; 
  }

  &--space-between{
    justify-content: space-between;
  }

  &--space-evenly{
    // For Browser fallback
    justify-content: space-between;
    justify-content: space-evenly;
  }
}

@for $i from 1 through $grid-cols {

  .col-#{$i} {
    width: (100 / ($grid-cols / $i)) * 1%;
    // flex: 0 1 (100 / ($grid-cols / $i)) * 1%;
  }
}

// In seperate loops due to specificity
@for $i from 1 through $grid-cols {
  $sizesmq:  sm, md, lg, xl; 

  @each $mq, $size in $sizesmq {
    .col-#{$i}\@#{$mq} {
      @include breakpoint-min($mq) {
        width: (100 / ($grid-cols / $i)) * 1%;
        flex: 0 1 (100 / ($grid-cols / $i)) * 1%;
      }
    }
  }
}

.u-flex-grow {
  flex-grow: 1;
}

.o-flex-al-stretch {
  align-items: stretch;
}

.o-flex-al-self-bottom {
  align-self: flex-end;
}

.u-flex--row-reverse {
  flex-direction: row-reverse;
}

// Todo: Create mix in for this
.flex-column-mobile {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  @include breakpoint-max(md) {
    flex-direction: column;
    align-items: center;  
  }
}

.flex-column-tablet {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  @include breakpoint-max(lg) {
    flex-direction: column;
    align-items: center;  
  }
}


.flex-column {
  flex-direction: column;
  align-items: center;  
}

.u-dis-flex {
  display: flex;
  flex-wrap: wrap;
}

.u-no-wrap {
  @include breakpoint-min(md) {
    flex-wrap: nowrap;
  }
}

.u-vertical-center {
  align-items: center;
}

.u-flex-end {
  justify-content: flex-end;
}