@import 'stylesheets/module-basics.scss';

.mobile {
  display: block;

  @include breakpoint-min(md) {   
    display: none;
  }
}

.desktop {
  display: none;

  @include breakpoint-min(md) {   
    display: block;
    width: 50%;
  }
} 