.c-btn {
  width: 100%; 
  text-align: center;
  background: $primary-color;
  color: #fff;
  display: block;
  transition: background 500ms;
  cursor: pointer;
  font-size: 1.1rem;
  text-transform: uppercase;
  
  &:hover {
    background: $primary-color;
  }

  &--video {
    width: 100%; 
    text-align: center;
    padding: 10px;
    transition: background 500ms;
    display: block;
    color: #1896D9;
    &:hover {
      color: transparentize(#1896D9, 0.2);
    }
  }
}