.c-btn {
  width: 100%; 
  text-align: center;
  background: #333;
  color: #fff;
  display: block;
  padding: 10px;
  transition: 500ms;
  &:hover {
    background: #444;
  }

  &--video {
    width: 100%; 
    text-align: center;
    padding: 10px;
    transition: 500ms;
    display: block;
    color: #1896D9;
    &:hover {
      color: transparentize(#1896D9, 0.2);
    }
  }
}