.u-pos-relative {
  position: relative;
}

.u-pos-abs {
  position: absolute;
  top: 0;
  left: 0;
}

.u-t-cen {
  text-align: center;
}

.u-hidden {
  visibility: hidden;
  display: none;
}

.u-dis-block {
  display: block;
}