@import 'stylesheets/module-basics.scss';

.container {
  display: grid;
  grid-template-columns: 85% 15%;
  padding-top: 20px;
  gap: 10px;
  margin-right: 10px;
}

.sliderContainer {
  position: relative;
  overflow: hidden;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.slide {
  scroll-snap-stop: always;
  flex-shrink: 0;
  transition: transform 0.8s;
  text-align: left;
  width: 100%;
  scroll-snap-align: start;
}

.imageGallery {
  display: flex;
  overflow-x: auto;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.galleryImage {
  // flex: 0 1 40%;
  

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}