@import '../../../stylesheets/module-basics.scss';

.slider {
  overflow: hidden;
  position: relative;
} 

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  // @media only screen and (min-width: 600px) {

  // }

  section {
    scroll-snap-stop: always;
    flex-shrink: 0;
    transition: transform 0.8s;
    text-align: left;
    width: 100%;
    scroll-snap-align: start;
  }
}

.slideDots {
  display: none;

  @include breakpoint-min(md) { 
    display: grid;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    z-index: 5;
    right: 0;
    top: 50%; 
    transform: translateY(-50%) ;
    margin-right: 1%;
  }
}

.dot {
  border-radius: 50%;
  border: 3px solid $black;
  background: $white;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.active{
  background: $black;
  color: $white;
}